/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    background-color:#145250;
    font-size: 62.5%;
    box-sizing: border-box;  
    text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, 0 -1px 0 #000,
	0 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 0 0 #000,
	-1px 0 0 #000; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.nav div a{
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding-top: .9rem;
    color:#145250;
}
    

.nav{
    display:flex; 
    justify-content: space-around;
    font-size: 2.5rem;
    letter-spacing: 2px;
    padding:1.5rem;
    background-color: rgb(48, 158, 121);
    margin: 1rem;
    border-radius: 10px;
}
.text{
    font-size: 1.5rem;
    padding:.5rem;
}
.name{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#145250;
}
.name div{
    padding: .3rem;
}
.body{
 display:flex;
 justify-content: center;
 flex-wrap: wrap;

}

.dylan{
    border-radius: 10rem;
    opacity: .9;
    margin-top: 5rem;
    margin-right: 3rem;
    
}

.projects-button{
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    margin-right: 3.5rem ;
}
.projects-button a{
    color:rgb(48, 158, 121);
    font-size: 2.5rem;
    border: rgb(48, 158, 121) solid 2px;
    padding: .5rem 2rem;
    border-radius: 10px;
}
.tranparent{
    opacity: .1;
}